#nav-bar {
    background-color: #61346B;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    height: 7%;
    position: fixed;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-left: 20px; 
}
.nav-a{
    color: #F2C75B;
    margin-right: 100px;
    text-decoration: none; 
    padding: 10px;
    
    

}
.nav-a:hover{
    background-color: #E6A1D7;
    color: white;
}