html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: url("3.jpg") no-repeat center center fixed;
  background-size: cover;

  font-family: sans-serif;
  height: 100%;
}
#nav-bar {
  background-color: transparent;
  padding-top: 15px;
}
.nav-a {
  margin-right: 50px;
}
.form-div {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
form {
  position: relative;
  width: 470px;
  background: #b1c5d0c1;
  margin: 80px auto;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 35px 50px #0a1516c9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form h1 {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  color: #002a4d;
  font-weight: 500;
}
.form-component {
  position: relative;
 
}

label {
  white-space: nowrap;
  color: #002a4d;
}

.form-component input {
  display: block;
  background: none;
  border: 0;
  border-bottom: 1px solid #002a4d;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  color: #002a4d;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
}

.select-div {
  align-self: flex-end;
}
select {
  background-color: #002a4d;
  color: #fff;
  padding: 7px;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 15px;
  border: 0;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #002a4d;
  color: #fff;
  align-self: center;
  border: 0;
  border-radius: 25px;
  font-size: 15px;
  padding: 15px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #096ec0;
  /* color: #fff; */
}

.two-components {
  display: flex;
  justify-content: space-between;
}
#employee-number-div {
  align-self: center;
}
.error {
  color: red;
  text-align: center;
  margin: 3px;
  padding: 15px;
  font-weight: bold;
}

@media (max-width: 768px) {
  form {
    width: 300px;
  }
  .form-div {
    margin-top: 150px;
  }
  .two-components {
    flex-direction: column;
  }
  #nav-bar {
    background-color: #0c1f2e;
    padding-top: 15px;
  }
}
