html{
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  background: url('4.jpg') no-repeat center center fixed;
  background-size: cover;
  /* height: 660px; */
  font-family: sans-serif;
  height: 100%;
}

* {
  box-sizing: border-box;
}
#home-header {
  text-align: left;
  margin-left: 30px;
}


.img-container {
  max-width: 100%;
  overflow: hidden;
  border-bottom-left-radius: 800px;
  border-bottom-right-radius: 800px;
  max-height: 10%;
  padding: 0;
  border: 0;
  position: relative;
}


#content {
  padding-right: 50px;
  padding-left: 50px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

p {
  font-size: 18px;
  color: #000;
}
span {
  color: #f2c75b;
  text-transform: capitalize; /* Capitalizes the first letter of each word */
}

.flight-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  border: 1px solid #e0e0e0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flight-card.old-flight {
  background-color: #d0cce066; /* Greyish background for old flights */
  color: white;
}


.flight-card p {
  color: #002a4d;
  padding: 2px;
  margin: 2px;
}

h1 {
  text-align: center;
  color: white;
}

.flight-card .flight-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.flight-card .submit-button,
.flight-card .cancel-button,
.flight-card .edit-delete-div {
  align-self: center;
}

.visible-tag {
  display: inline;
}

.invisible-tag {
  display: none;
}

.submit-button:hover {
  background-color: #096ec0;
}

.submit-button {
  background-color: #002a4d;

  width: 80px;
  border-radius: 20px;
  cursor: pointer;

  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.submit-button a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
::-webkit-scrollbar {
  display: none;
}

.flight-card .submit-button {
  width: 100%;
}
.cancel-button:hover {
  background-color: #002a4d;
  color: white;
}

.cancel-button {
  /* min-width: 80px; */
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  border: 1px solid #002a4d;
}
.cancel-button a {
  color: #002a4d;
  text-decoration: none;
  padding: 10px;
}

.cancel-button:hover a {
  color: white;
}

.edit-delete-div {
  display: flex;
  gap: 10px;
  width: 100%;
}

input[type="submit"] {
  background-color: #002a4d;
  color: white;
  width: 80px;
  border-radius: 20px;
  cursor: pointer;
}

button {
  background-color: #fff;
  color: #002a4d;
  width: 40px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  cursor: pointer;
}
button:hover{
  color: #fff;
  background-color: #002a4d;
}
input::placeholder {
  color: white; /* Light grey color */
  opacity: 1;  /* Ensures the color opacity is fully applied */
}
input[type="submit"]:hover {
  background-color: #096ec0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  padding-right: 50px;
  padding-left: 50px;
  
}

header form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header input {
  width: 500px;

  display: block;
  background: none;
  margin-right: 20px;
  border: 0;
  border-bottom: 1px solid #fff;

  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
}

/* Media query for small devices */
@media (max-width: 768px) {
  #content {
    grid-template-columns: repeat(2, 1fr);
    /* width: 80%; */
    padding-left: 20px;
    padding-right: 20px;
  }
  .flight-card {
    width: 100%;
    font-size: 14px;
    padding: 15px;
  }
  .flight-card p {
    font-size: 14px;
  }
  .flight-card .flight-card-content {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 0px;
  }

  header {
    flex-direction: column;
  }
  #home-header {
    text-align: center;
    margin-right: 0;
  }
}
